<h3><%= tagTitle %></h3>
<div class="list-group">
  <% memos.forEach(function (memo) { %>
    <a href="#" class="list-group-item memo-item" 
                data-id="<%= memo.id %>" 
                data-nb-id="<%= memos.notebookId %>">
      <h4 class="list-group-item-heading"><%= memo.get('title') %></h4>
      <p class="list-group-item-text text-muted"><%= memo.preview() %></p>
    </a>
  <% }) %>
</div>
