<!DOCTYPE html>
<html>
<head>
  <title>Memoboat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


   

  <nav class="navbar navbar-default" role="navigation">
      <a class="brand pull-left" href="<%= root_url %>"> 
        <%= image_tag "/assets/memoboat_logo_reverse.png", size: "151x87" %>
      </a>
    
    <ul class="nav navbar-nav pull-right">
      <li>
        <%= link_to("Home", "#") %>
      </li>
      <% if logged_in? %>
        <li>
          <%= link_to("Sign Out", session_url, :method => :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to("Sign In", new_session_url) %>
        </li>
        <li>
          <%= link_to("Sign Up", new_user_url) %>
        </li>
      <% end %> 
    </ul>
  </nav>

   <% if flash[:errors] %>
    
    <div class="row">
      <div class="col-xs-6">
        <% flash[:errors].each do |error| %>
          <div class="alert alert-danger"><%= error %></div>
        <% end %>
      </div>
    </div>

  <% end %>

  

<%= yield %>

</body>
</html>
